<header class='top-page-header'>
  <div class='header-bar'>
    <%= link_to "GOYANGI HEALTH", root_path%>

  </div>

  <div class='nav'>
    <ul class='lists-right'>
       <% if user_signed_in? %>
      <li><%= link_to current_user.nickname,root_path, class: "user-nickname" %></li>
<%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %>


      <% else %>
      <li><%= link_to 'ログイン',new_user_session_path, class: "logout" %></li>
      <li><%= link_to '新規登録',new_user_registration_path, class: "logout" %></li>
       <% end %>
    </ul>
  </div>
</header>