<%= render "shared/header" %>

<div class="my-5">
  <% if user_signed_in? %>
    <div class="text-center">
      <%= link_to '新たに猫ちゃんを登録する', new_cat_path, class: "btn btn-primary" %>
      <h2 class="mt-5">猫ちゃん一覧</h2>
    </div>
    <div class="row justify-content-center">
      <% current_user.cats.each do |cat| %>
        <div class="col-md-4 my-3">
          <%= image_tag cat.image.variant(resize: '300x300'), class: 'cat-image mb-3' if cat.image.attached? %>
          <h5>お名前：<%= cat.name %></h5>
          <p>お誕生日：<%= cat.birth_day %></p>
          <p>家族になった日：<%= cat.family_day %></p>
        </div>
      <% end %>
    </div>
  <% else %>
    <div class="text-center">
      <h2>Goyangi Healthは、猫の情報を登録し、健康管理を簡単にするアプリです。</h2>
      <p>猫の健康管理は、Goyangi Healthで簡単に！</p>
      <%= link_to '新規登録', new_user_registration_path, class: "btn btn-primary mt-3 mr-3" %>
      <%= link_to 'ログイン', new_user_session_path, class: "btn btn-primary mt-3" %>
    </div>
  <% end %>
</div>

<%= render "shared/footer" %>
